*{margin:0;padding:0;list-style-type:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;

}
a,img{border:0;}
body{background:#eee;}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.social-btns .btn.darkblue:before {
  background-color: #3b5998;
}
.social-btns .btn.darkblue .fa {
  color: #3b5998;
}
.social-btns .btn.blue:before {
  background-color: #00aff0;
}
.social-btns .btn.blue .fa {
  color: #00aff0;
}
.social-btns .btn.organ:before {
  background-color: #dc4a38;
}
.social-btns .btn.organ .fa {
  color: #dc4a38;
}
.social-btns .btn.purple:before {
  background-color: #bf00ff;
}
.social-btns .btn.purple .fa {
  color: #bf00ff;
}
.social-btns .btn.red:before {
  background-color: #cc0000;
}
.social-btns .btn.red .fa {
  color: #cc0000;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  height: 90px;
  margin-top: 20px;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}
p{
  margin: 10px;
}
.Copyright{
  font-size: 15px;
  margin-top: 200px;
  width: 100%;
  line-height: 20px;
}
